.board {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 90vh;
	gap: 10px;
	flex-wrap: wrap;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 2.4%;
}

.column {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 10px;
}

.card {
	border: 2px solid black;
	flex: 1;
}

/*Card Colors*/

.hidden-color {
	background-color: rgb(121, 117, 117) !important;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.violet {
	background-color: violet;
}
.yellow {
	background-color: yellow;
}
.green {
	background-color: green;
}
.orange {
	background-color: orange;
}
